body {
	background-color: pink;
	font-family: "Nunito", sans-serif;
}



#myBrand{
    color: #EA1C2C;
    font-size: 1.5rem;
}

#myBrand:hover{
    color: white;
}

.navbar a{
	color: white;
}

.navbar a:hover{
	color: red;
}

.navbar-brand{
	color: red;
}

#myText{
	font-weight: 100;
	font-size: 3rem;
}

#myText span{
	color: red;
	font-weight: 100;
	font-size: 3rem;
}

@media(max-width: 1200px){
	#myText{
	font-size: 2rem;
	font-stretch: semi-expanded;
}
}