body {
	background-color: #f5d9d5;
	font-family: "Nunito", sans-serif;
}



#myBrand{
    color: #EA1C2C;
    font-size: 1.5rem;
}

#myBrand:hover{
    color: white;
}

.navbar a{
	color: white;
}

.navbar a:hover{
	color: #EA1C2C;
}

.navbar-brand{
	color: #EA1C2C;
}

.title{
	color: #EA1C2C;
	font-weight: 100;
	font-size: 2.5rem;
}

#myText{
	font-weight: 100;
	font-size: 3rem;
}

#myText span{
	color: #EA1C2C;
	font-weight: 100;
	font-size: 3rem;
}

.textAbout{
	color: #f498b8;
	font-weight: 100;
	font-size: 1.125;
	line-height: 2;
	margin-bottom: 100px;
}

.box{
	margin-top: 100px;
	margin-bottom: 100px;
}

@media(max-width: 1200px){
	#myText{
	font-size: 2rem;
	font-stretch: semi-expanded;
}

}